:host {
  --transition: 200ms;
  --size: 80px;
  width: 100%;
  height: 140px;
  position: absolute;
  display: flex;
  top: -160px;
  left: 0px;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
  &.on {
    top: 0px;
  }
  background-color: #444654;
  z-index: 1;
}
