@import "./style/vars";
@import "./style/colors";
body {
  margin: 0px;
  padding: 0px;
  & * {
    box-sizing: border-box;
  }
  background-color: transparent;
  border-radius: 4px;
}
.vector {
  background-color: var(--white);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  width: 100%;
  height: 100%;
}
