:host {
  --check-size: 20px;
  display: flex;
  font-size: 16px;
}
.label {
  margin-right: 12px;
}
.switch {
  position: relative;
  display: inline-block;
  width: calc(var(--check-size) * 2);
  height: calc(var(--check-size) + 4px);
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--grey-1);
  transition: var(--transition);
  border-radius: calc(var(--check-size) + 4px);
}
.slider:before {
  position: absolute;
  content: "";
  height: calc(var(--check-size) - 4px);
  width: calc(var(--check-size) - 4px);
  left: 4px;
  bottom: 4px;
  background-color: var(--grey-3);
  transition: var(--transition);
  border-radius: 50%;
}
input:checked + .slider::before {
  background-color: var(--green-2);
}
input:checked + .slider:before {
  transform: translateX(calc(var(--check-size) - 4px));
}
