:host {
  --transition: 200ms;
  --size: 20px;
  display: flex;
  font-size: 16px;
}
.label {
  margin-right: 12px;
}
.switch {
  position: relative;
  display: inline-block;
  width: calc(var(--size) * 2);
  height: calc(var(--size) + 4px);
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #343541;
  transition: var(--transition);
  border-radius: calc(var(--size) + 4px);
}

.slider:before {
  position: absolute;
  content: "";
  height: calc(var(--size) - 4px);
  width: calc(var(--size) - 4px);
  left: 4px;
  bottom: 4px;
  background-color: #7d7d80;
  transition: var(--transition);
  border-radius: 50%;
}

input:checked + .slider::before {
  background-color: #1cc298;
}

input:checked + .slider:before {
  transform: translateX(calc(var(--size) - 4px));
}
